# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Test output
backbody_steve_test_*.png
backbody_alex_test_*.png
face_steve_test_*.png
face_alex_test_*.png
frontbody_steve_test_*.png
frontbody_alex_test_*.png
fullbody_steve_test_*.png
fullbody_alex_test_*.png
head_steve_test_*.png
head_alex_test_*.png
leftbody_steve_test_*.png
leftbody_alex_test_*.png
rightbody_steve_test_*.png
rightbody_alex_test_*.png